.page
  @extend .fade-transition

.toolbar
  &__title
    font-size: 28px
    font-weight: $font-weights.medium
    margin-top: -0.25em

.expansion-panel
  &__header:after
    top: "calc(50% - %s)" % $font-size-root

button.square
  width: 5 * $font-size-root
  height: 5 * $font-size-root
  min-width: initial
  padding: 0

.spread-the-word
  a.button
    text-decoration: none

.video-container
  position:relative
  padding-bottom:56.25%
  padding-top:30px
  height:0
  overflow:hidden


.video-container iframe, .video-container object, .video-container embed
  position:absolute
  top:0
  left:0
  width:100%
  height:55vmin

.main-container
  padding: 1px
  .content-area
    padding-right: 0px
    padding-left: 0px

// Checkboxes to the right
.input-group--selection-controls__ripple {
    right: -16px;
    left: initial;
}
.input-group--selection-controls label {
    left: 0;
}

.input-group.input-group--selection-controls .icon {
    right: 8px;
    left: initial;
}
.input-group.input-group--selection-controls label {
    max-width: initial;
}
