@require '~vuetify/src/stylus/settings/_colors'

$body-font-family := 'Muli', sans-serif
$font-size-root := 1rem;

$theme := {
  primary: $purple.darken-1
  accent: $deep-purple.lighten-3
  secondary: $grey.darken-3
  info: $blue.darken-4
  warning: $amber.darken-1
  error: $red.darken-4
  success: $green.darken-3
}

$font-weights := {
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
}

$headings := {
 h1: { size: 3.33 * $font-size-root, weight: $font-weights.light, line-height: 1em, letter-spacing: -.04em },
 h2: { size: 3 * $font-size-root, weight: $font-weights.regular, line-height: 1.25em, letter-spacing: -.02em },
 h3: { size: 2.66 * $font-size-root, weight: $font-weights.regular, line-height: 1.25em, letter-spacing: normal },
 h4: { size: 2.33 * $font-size-root, weight: $font-weights.regular, line-height: 1.25em, letter-spacing: normal },
 h5: { size: 2 * $font-size-root, weight: $font-weights.regular, line-height: 1.25em, letter-spacing: normal },
 h6: { size: 1.5 * $font-size-root, weight: $font-weights.medium, line-height: 1em, letter-spacing: .02em },
 subheading: { size: 1.25 * $font-size-root, weight: $font-weights.regular },
 body-2: { size: 1 * $font-size-root, weight: $font-weights.medium },
 body-1: { size: 1 * $font-size-root, weight: $font-weights.regular },
 caption: { size: 0.75 * $font-size-root, weight: $font-weights.regular },
 button: { size: 1 * $font-size-root, weight: $font-weights.medium }
}


$white := #ffffff;