// Overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start

@require '_variables.styl'

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

// Custom styles
// @require '_custom.styl'
